:root {
  --primary: #00b4ff;
  --primary-blue: #58b0ef;
  --primary-inactive: #3d6172;
  --secondary: #2683ff;
  --color-white: #ffffff;
  --color-lightgray: #d3d3d3;
  --color-lighttelegrey: #cccccc;
  --color-superlightgrey: #f5f5f5;
  --color-silver: #bfc0c1;
  --color-darkgray: #9b9b9b;
  --color-blackcow: #494646;
  --color-darkmintgreen: #00C873;
}
