@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  src: url(../assets/fonts/helvetica/HelveticaBold.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  src: url(../assets/fonts/helvetica/HelveticaLight.ttf) format("truetype");
}

//@font-face {
//  font-family: 'Helvetica';
//  font-weight: 500;
//  src: url(./assets/fonts/helvetica/HelveticaMedium.ttf) format('truetype');
//}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  src: url(../assets/fonts/helvetica/Helvetica.ttf) format("truetype");
}

//@font-face {
//  font-family: 'Helvetica';
//  font-weight: 600;
//  src: url(./assets/fonts/helvetica/HelveticaSemiBold.ttf) format('truetype');
//}
