.Footer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto auto 10px;
  padding: 20px;
  max-width: 1536px;
  box-sizing: border-box;

  .hline {
    width: 100%;
    height: 0px;
    border: 0.5px solid #5c5c5c;
    align-self: center;
    margin-bottom: 20px;
  }
  .both_img_p {
    display: flex;
    justify-content: space-between;
    @media (max-width: 480px) {
      flex-direction: column;
      margin-left: 10px;
    }
    .both_img_p_logo {
      height: 70px;
      align-self: center;
      margin-bottom: 10px;
    }
    .footerd2 {
      display: flex;
      width: 90%;
      justify-content: space-evenly;
      .footerrespd1,
      .footerrespd2 {
        display: flex;
        width: 100%;
        justify-content: space-around;
        @media (max-width: 750px) {
          flex-direction: column;
          justify-content: unset !important;
        }
      }
      @media (max-width: 440px) {
        flex-direction: column;
      }
      @media (max-width: 480px) {
        display: none;
      }
    }
    .footermobile {
      @media (min-width: 481px) {
        display: none;
      }
      @media (max-width: 320px) {
        margin-top: 10px;
      }
      .css-1elwnq4-MuiPaper-root-MuiAccordion-root,
      .css-67l5gl {
        margin-bottom: 10px;
        box-shadow: none;
      }
      .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
        display: none;
      }
      .css-o4b71y-MuiAccordionSummary-content,
      .css-17o5nyn {
        margin: 0;
      }
      .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root,
      .css-1iji0d4 {
        min-height: 40px;
      }
      .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root,
      .css-1iji0d4 {
        padding-left: 0 !important;
      }
      .footermobiled1 {
        display: flex;
        flex-direction: column;
      }
      .footermobilea {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: #4d4b4b;
        margin-top: 10px;
      }
      .footermobilelastdiv {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        margin-bottom: 20px;

        .imgcircle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          border: 1px solid var(--color-blackcow);
          border-radius: 50%;
          margin-left: 5px;
        }
        .footerimgdiv {
          display: flex;
        }
      }
    }
    .footerd1 {
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-around;
      margin-bottom: 20px;
      text-align: center;
      .imgcircle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: 1px solid #494646;
        border-radius: 50%;
        margin-left: 5px;

        .footer-link {
          color: var(--color-blackcow);
        }
      }
      .footerimgdiv {
        display: flex;
        @media (max-width: 750px) {
          align-self: center;
        }
      }
    }
    .footerh6 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #000000;
      margin-bottom: 0;
      margin-top: 0;
    }
    .footerp {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      color: #747474;
      text-decoration: none;
    }
  }
}
